<div class="mat-elevation-z8" style="height:700px">
	<mat-progress-bar mode="indeterminate" *ngIf="dataSource.isFetching$ | async">
	</mat-progress-bar>
	<table mat-table [dataSource]="dataSource">
		<ng-container [matColumnDef]="column.name" *ngFor="let column of table.columns">
			<th mat-header-cell *matHeaderCellDef [class.cell-center]="column.name.toLowerCase() == 'action'">
				{{column.name | uppercase}} </th>

			<td mat-cell *matCellDef="let record" [class.cell-center]="column.name.toLowerCase() == 'action'">
				<ng-container *ngIf="!column.dynamicCellComponent">
					{{record[column.key]}}
				</ng-container>
        
				<ng-container *ngIf="column.dynamicCellComponent" dynamicCell [component]="column.dynamicCellComponent"
					[attributes]=record[column.key]>
				</ng-container>

				<ng-container *ngIf="column.name.toLowerCase() == 'action'">
					<ng-container *ngIf="buttons.length == 1">
						<button mat-raised-button 
            (click)="buttons[0].callback($event, record, 0)"
            [disabled]="buttons[0]?.attributes?.disabled || (dataSource.isFetching$ | async)">
              <mat-icon *ngIf="buttons[0]?.attributes?.icon">{{buttons[0]?.attributes?.icon}}</mat-icon>
              {{buttons[0].name}}
            </button>
					</ng-container>
					<ng-container *ngIf="buttons.length > 1">
						<mat-menu #actionMenu="matMenu">
							<button mat-menu-item
              *ngFor="let button of buttons; let i =index"
              [disabled]="button?.attributes?.disabled || (dataSource.isFetching$ | async)"
              (click)="button.callback($event, record, i)"
              >
                <mat-icon *ngIf="button?.attributes?.icon">{{button?.attributes?.icon}}</mat-icon>
                {{button.name}}
              </button>
						</mat-menu>

						<button mat-icon-button [matMenuTriggerFor]=" actionMenu" [disabled]="dataSource.isFetching$ | async">
              <mat-icon>more_horiz</mat-icon>
            </button>
					</ng-container>
				</ng-container>
			</td>
		</ng-container>

		<ng-container matColumnDef="emptyList">
			<td mat-footer-cell *matFooterCellDef colspan="100" class="cell-center">
				Empty list.
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		<tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
		<tr mat-footer-row *matFooterRowDef="(dataSource.total$ | async) == 0 ? ['emptyList'] : []"></tr>
	</table>

	<mat-paginator [disabled]="dataSource.isFetching$ | async" [pageSizeOptions]="[10, 20, 50]"
		[length]="dataSource.total$ | async" showFirstLastButtons>
	</mat-paginator>
</div>